.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #ffffff;
  background-color: white;
}

.cards .cards-card-body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 3.6 / 2.5;
  object-fit: cover;
}
.cards .cards-card-body h3 {
  text-transform: uppercase;
  margin: 8px 0 8px; /* Adds space under heading */
}
.cards .cards-card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines before cutting off */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 100%;
  color: #828181;
}
.cards .cards-card-body .button {
  display: inline-block;
  background-color: #e0e0e0;   /* light grey background */
  color: #000;                 /* black text */
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 0;            /* sharp corners */
  font-weight: bold;
  text-transform: uppercase;   /* uppercase text */
  font-size: 14px;
}
