.members > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}


.members > ul > li {
  display: flex;
  flex-direction: column-reverse; /* This flips children: text first, image second */
  border: 1px solid #ffffff;
  background-color: white;
  position: relative;
  filter: blur(1px);       /* blur content */
  pointer-events: none;    /* prevent clicks */
  user-select: none;       /* prevent text selection */
  overflow: hidden;
}


.members .members-card-body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.members .members-card-image {
  line-height: 0;
}

.members > ul > li img {
  width: 100%;
  aspect-ratio: 7/ 4;
  object-fit: cover;
}
.members .members-card-body h3 {
  text-transform: uppercase;
  margin: 8px 0 8px; /* Adds space under heading */
}
.members .members-member-body p {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines before cutting off */
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 100%;
  color: #828181;
}